<!-- log in user form (new session)-->
<div class = "container text-center">
	<h2>Log In</h2>

	<%- if flash[:error] %>
	  <%= flash[:error] %>
	<% elsif flash[:success] %>
	  <%= flash[:success] %>
	<% end %>

	<%= form_for :session, url: sessions_path do |f| %>

		<div class='form-group'>
		    <%= f.label :first_name %>
		    <%= f.text_field :first_name, class: 'form-control' , placeholder: 'Username'%>
	  	</div>

		<div class='form-group'>
		    <%= f.label :email %>
		    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
	    </div>

	    <div class='form-group'>
		    <%= f.label :password %>
		    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
	    </div>

	    <div class='form-group'>
		    <%= f.label :password_confirmation %>
		    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm Password' %>
	    </div>

	    <div class='form-group'>
	    	<%= f.submit 'Log In', class: 'btn btn-primary' %>
	    </div>

	<% end %>


	  New User? <%= link_to 'Click here to create an account.', new_user_path %>
	  <%= link_to "Sign in with Google", "/auth/google_oauth2" %>
</div>