<div class= "container-fluid">
	<h1>Homepage for recipes</h1>

	<!-- flashes welcome user notice -->
	<% if flash[:success] %>
	  <%= flash[:success] %>
	<% end %>
	<br>
	Logged as <strong><%= current_user.first_name %></strong>
</div>

<div class="container-fluid">
	<div class="jumbotron">
		<%= link_to 'New Recipe', new_recipe_path %>

		<!-- search form -->
		<%= search_form_for @q, local: true do |f| %>
			
			<%= f.label :Search %>
			<%= f.search_field :name_cont %>
			<%= f.submit  %>

		<% end %>
		
		<!-- pagination -->
		<div class="pagination">
			<%= will_paginate @recipe %>
		</div>
		<!-- contents -->
		<table>
			<tr>
				<th><%= sort_link(@q, :name) %></th>
				<th>Description</th>
				<th></th>
			</tr>

			<% @recipe.each do |recipe| %>
				<tr>
					<td><%= recipe.name %></td>
					<td><%= recipe.description %></td>
					<td><%= link_to '[View recipe]', recipe_path(recipe.id) %></td>
					<td><%= link_to '[Edit]', edit_recipe_path(recipe.id) %></td>
					<td><%= link_to '[Delete]', recipe_path(recipe.id), method: :delete, data: { confirm: 'Are you sure?'} %></td>
				</tr>
			<% end %>

		</table>
	</div>
</div>

